{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
    // using eslint for typescript
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
    // airbnb eslint configuration standard
      "airbnb-base",
      "airbnb-typescript/base"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    }
  }