# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# ignore tailwind.config because it is just for make my TailwindCSS extension work properly, and if it is existed that will make my tsconfig inside of server folder throwed error
tailwind.config.js
.vercel
.env*.local
